<!DOCTYPE html>
<html>
<head>
	<title>My Site Is Good</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
</head>
<body>
	<div class="container">
		<h1><%= text %></h1>
		<% for(var i=0; i<list.length; i++){ %>
		<div><%= list[i].name %></div>
		<% } %>
		<form action="/add" method="post">
			<input type="text" name="name" />
			<input type="submit" value="submit" />
		</form>
	</div>

	<script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>